/* FC Webicons by Fairhead Creative http://fairheadcreative.com */

.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }
.fc-webicon.small { width: 20px; height: 20px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.fc-webicon.large { width: 48px; height: 48px; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; }

/* About.me */
.no-svg .fc-webicon.aboutme { background: url("../images/icons/fc-webicon-aboutme-m.png"); }
.no-svg .fc-webicon.aboutme.large { background: url("../images/icons/fc-webicon-aboutme.png"); }
.no-svg .fc-webicon.aboutme.small { background: url("../images/icons/fc-webicon-aboutme-s.png"); }
.svg .fc-webicon.aboutme { background: url("../images/icons/fc-webicon-aboutme.svg"); }

/* ADN (App.net) */
.no-svg .fc-webicon.adn { background: url("../images/icons/fc-webicon-adn-m.png"); }
.no-svg .fc-webicon.adn.large { background: url("../images/icons/fc-webicon-adn.png"); }
.no-svg .fc-webicon.adn.small { background: url("../images/icons/fc-webicon-adn-s.png"); }
.svg .fc-webicon.adn { background: url("../images/icons/fc-webicon-adn.svg"); }

/* Android */
.no-svg .fc-webicon.android { background: url("../images/icons/fc-webicon-android-m.png"); }
.no-svg .fc-webicon.android.large { background: url("../images/icons/fc-webicon-android.png"); }
.no-svg .fc-webicon.android.small { background: url("../images/icons/fc-webicon-android-s.png"); }
.svg .fc-webicon.android { background: url("../images/icons/fc-webicon-android.svg"); }

/* Apple */
.no-svg .fc-webicon.apple { background: url("../images/icons/fc-webicon-apple-m.png"); }
.no-svg .fc-webicon.apple.large { background: url("../images/icons/fc-webicon-apple.png"); }
.no-svg .fc-webicon.apple.small { background: url("../images/icons/fc-webicon-apple-s.png"); }
.svg .fc-webicon.apple { background: url("../images/icons/fc-webicon-apple.svg"); }

/* Behance */
.no-svg .fc-webicon.behance { background: url("../images/icons/fc-webicon-behance-m.png"); }
.no-svg .fc-webicon.behance.large { background: url("../images/icons/fc-webicon-behance.png"); }
.no-svg .fc-webicon.behance.small { background: url("../images/icons/fc-webicon-behance-s.png"); }
.svg .fc-webicon.behance { background: url("../images/icons/fc-webicon-behance.svg"); }

/* Bitbucket */
.no-svg .fc-webicon.bitbucket { background: url("../images/icons/fc-webicon-bitbucket-m.png"); }
.no-svg .fc-webicon.bitbucket.large { background: url("../images/icons/fc-webicon-bitbucket.png"); }
.no-svg .fc-webicon.bitbucket.small { background: url("../images/icons/fc-webicon-bitbucket-s.png"); }
.svg .fc-webicon.bitbucket { background: url("../images/icons/fc-webicon-bitbucket.svg"); }

/* Creative Cloud */
.no-svg .fc-webicon.creativecloud { background: url("../images/icons/fc-webicon-creativecloud-m.png"); }
.no-svg .fc-webicon.creativecloud.large { background: url("../images/icons/fc-webicon-creativecloud.png"); }
.no-svg .fc-webicon.creativecloud.small { background: url("../images/icons/fc-webicon-creativecloud-s.png"); }
.svg .fc-webicon.creativecloud { background: url("../images/icons/fc-webicon-creativecloud.svg"); }

/* Dribbble */
.no-svg .fc-webicon.dribbble { background: url("../images/icons/fc-webicon-dribbble-m.png"); }
.no-svg .fc-webicon.dribbble.large { background: url("../images/icons/fc-webicon-dribbble.png"); }
.no-svg .fc-webicon.dribbble.small { background: url("../images/icons/fc-webicon-dribbble-s.png"); }
.svg .fc-webicon.dribbble { background: url("../images/icons/fc-webicon-dribbble.svg"); }

/* Dropbox */
.no-svg .fc-webicon.dropbox { background: url("../images/icons/fc-webicon-dropbox-m.png"); }
.no-svg .fc-webicon.dropbox.large { background: url("../images/icons/fc-webicon-dropbox.png"); }
.no-svg .fc-webicon.dropbox.small { background: url("../images/icons/fc-webicon-dropbox-s.png"); }
.svg .fc-webicon.dropbox { background: url("../images/icons/fc-webicon-dropbox.svg"); }

/* Evernote */
.no-svg .fc-webicon.evernote { background: url("../images/icons/fc-webicon-evernote-m.png"); }
.no-svg .fc-webicon.evernote.large { background: url("../images/icons/fc-webicon-evernote.png"); }
.no-svg .fc-webicon.evernote.small { background: url("../images/icons/fc-webicon-evernote-s.png"); }
.svg .fc-webicon.evernote { background: url("../images/icons/fc-webicon-evernote.svg"); }

/* Facebook */
.no-svg .fc-webicon .facebook { background: url("../images/icons/fc-webicon-facebook-m.png"); }
.no-svg .fc-webicon .facebook .large { background: url("../images/icons/fc-webicon-facebook.png"); }
.no-svg .fc-webicon .facebook .small { background: url("../images/icons/fc-webicon-facebook-s.png"); }
.svg .fc-webicon .facebook { background: url("../images/icons/fc-webicon-facebook.svg"); }

/* Flickr */
.no-svg .fc-webicon.flickr { background: url("../images/icons/fc-webicon-flickr-m.png"); }
.no-svg .fc-webicon.flickr.large { background: url("../images/icons/fc-webicon-flickr.png"); }
.no-svg .fc-webicon.flickr.small { background: url("../images/icons/fc-webicon-flickr-s.png"); }
.svg .fc-webicon.flickr { background: url("../images/icons/fc-webicon-flickr.svg"); }

/* Foursquare */
.no-svg .fc-webicon.foursquare { background: url("../images/icons/fc-webicon-foursquare-m.png"); }
.no-svg .fc-webicon.foursquare.large { background: url("../images/icons/fc-webicon-foursquare.png"); }
.no-svg .fc-webicon.foursquare.small { background: url("../images/icons/fc-webicon-foursquare-s.png"); }
.svg .fc-webicon.foursquare { background: url("../images/icons/fc-webicon-foursquare.svg"); }

/* Git */
.no-svg .fc-webicon.git { background: url("../images/icons/fc-webicon-git-m.png"); }
.no-svg .fc-webicon.git.large { background: url("../images/icons/fc-webicon-git.png"); }
.no-svg .fc-webicon.git.small { background: url("../images/icons/fc-webicon-git-s.png"); }
.svg .fc-webicon.git { background: url("../images/icons/fc-webicon-git.svg"); }

/* Github */
.no-svg .fc-webicon.github { background: url("../images/icons/fc-webicon-github-m.png"); }
.no-svg .fc-webicon.github.large { background: url("../images/icons/fc-webicon-github.png"); }
.no-svg .fc-webicon.github.small { background: url("../images/icons/fc-webicon-github-s.png"); }
.svg .fc-webicon.github { background: url("../images/icons/fc-webicon-github.svg"); }

/* Google Play */
.no-svg .fc-webicon.googleplay { background: url("../images/icons/fc-webicon-googleplay-m.png"); }
.no-svg .fc-webicon.googleplay.large { background: url("../images/icons/fc-webicon-googleplay.png"); }
.no-svg .fc-webicon.googleplay.small { background: url("../images/icons/fc-webicon-googleplay-s.png"); }
.svg .fc-webicon.googleplay { background: url("../images/icons/fc-webicon-googleplay.svg"); }

/* Google+ */
.no-svg .fc-webicon.googleplus { background: url("../images/icons/fc-webicon-googleplus-m.png"); }
.no-svg .fc-webicon.googleplus.large { background: url("../images/icons/fc-webicon-googleplus.png"); }
.no-svg .fc-webicon.googleplus.small { background: url("../images/icons/fc-webicon-googleplus-s.png"); }
.svg .fc-webicon.googleplus { background: url("../images/icons/fc-webicon-googleplus.svg"); }

/* HTML5 */
.no-svg .fc-webicon.html5 { background: url("../images/icons/fc-webicon-html5-m.png"); }
.no-svg .fc-webicon.html5.large { background: url("../images/icons/fc-webicon-html5.png"); }
.no-svg .fc-webicon.html5.small { background: url("../images/icons/fc-webicon-html5-s.png"); }
.svg .fc-webicon.html5 { background: url("../images/icons/fc-webicon-html5.svg"); }

/* iCloud */
.no-svg .fc-webicon.icloud { background: url("../images/icons/fc-webicon-icloud-m.png"); }
.no-svg .fc-webicon.icloud.large { background: url("../images/icons/fc-webicon-icloud.png"); }
.no-svg .fc-webicon.icloud.small { background: url("../images/icons/fc-webicon-icloud-s.png"); }
.svg .fc-webicon.icloud { background: url("../images/icons/fc-webicon-icloud.svg"); }

/* Instagram */
.no-svg .fc-webicon.instagram { background: url("../images/icons/fc-webicon-instagram-m.png"); }
.no-svg .fc-webicon.instagram.large { background: url("../images/icons/fc-webicon-instagram.png"); }
.no-svg .fc-webicon.instagram.small { background: url("../images/icons/fc-webicon-instagram-s.png"); }
.svg .fc-webicon.instagram { background: url("../images/icons/fc-webicon-instagram.svg"); }

/* Last.fm */
.no-svg .fc-webicon.lastfm { background: url("../images/icons/fc-webicon-lastfm-m.png"); }
.no-svg .fc-webicon.lastfm.large { background: url("../images/icons/fc-webicon-lastfm.png"); }
.no-svg .fc-webicon.lastfm.small { background: url("../images/icons/fc-webicon-lastfm-s.png"); }
.svg .fc-webicon.lastfm { background: url("../images/icons/fc-webicon-lastfm.svg"); }

/* LinkedIn */
.no-svg .fc-webicon.linkedin { background: url("../images/icons/fc-webicon-linkedin-m.png"); }
.no-svg .fc-webicon.linkedin.large { background: url("../images/icons/fc-webicon-linkedin.png"); }
.no-svg .fc-webicon.linkedin.small { background: url("../images/icons/fc-webicon-linkedin-s.png"); }
.svg .fc-webicon.linkedin { background: url("../images/icons/fc-webicon-linkedin.svg"); }

/* Mail */
.no-svg .fc-webicon.mail { background: url("../images/icons/fc-webicon-mail-m.png"); }
.no-svg .fc-webicon.mail.large { background: url("../images/icons/fc-webicon-mail.png"); }
.no-svg .fc-webicon.mail.small { background: url("../images/icons/fc-webicon-mail-s.png"); }
.svg .fc-webicon.mail { background: url("../images/icons/fc-webicon-mail.svg"); }

/* Mixi */
.no-svg .fc-webicon.mixi { background: url("../images/icons/fc-webicon-mixi-m.png"); }
.no-svg .fc-webicon.mixi.large { background: url("../images/icons/fc-webicon-mixi.png"); }
.no-svg .fc-webicon.mixi.small { background: url("../images/icons/fc-webicon-mixi-s.png"); }
.svg .fc-webicon.mixi { background: url("../images/icons/fc-webicon-mixi.svg"); }

/* MSN */
.no-svg .fc-webicon.msn { background: url("../images/icons/fc-webicon-msn-m.png"); }
.no-svg .fc-webicon.msn.large { background: url("../images/icons/fc-webicon-msn.png"); }
.no-svg .fc-webicon.msn.small { background: url("../images/icons/fc-webicon-msn-s.png"); }
.svg .fc-webicon.msn { background: url("../images/icons/fc-webicon-msn.svg"); }

/* Pinterest */
.no-svg .fc-webicon.pinterest { background: url("../images/icons/fc-webicon-pinterest-m.png"); }
.no-svg .fc-webicon.pinterest.large { background: url("../images/icons/fc-webicon-pinterest.png"); }
.no-svg .fc-webicon.pinterest.small { background: url("../images/icons/fc-webicon-pinterest-s.png"); }
.svg .fc-webicon.pinterest { background: url("../images/icons/fc-webicon-pinterest.svg"); }

/* Quora */
.no-svg .fc-webicon.quora { background: url("../images/icons/fc-webicon-quora-m.png"); }
.no-svg .fc-webicon.quora.large { background: url("../images/icons/fc-webicon-quora.png"); }
.no-svg .fc-webicon.quora.small { background: url("../images/icons/fc-webicon-quora-s.png"); }
.svg .fc-webicon.quora { background: url("../images/icons/fc-webicon-quora.svg"); }

/* Orkut */
.no-svg .fc-webicon.orkut { background: url("../images/icons/fc-webicon-orkut-m.png"); }
.no-svg .fc-webicon.orkut.large { background: url("../images/icons/fc-webicon-orkut.png"); }
.no-svg .fc-webicon.orkut.small { background: url("../images/icons/fc-webicon-orkut-s.png"); }
.svg .fc-webicon.orkut { background: url("../images/icons/fc-webicon-orkut.svg"); }

/* Mercurial */
.no-svg .fc-webicon.mercurial { background: url("../images/icons/fc-webicon-mercurial-m.png"); }
.no-svg .fc-webicon.mercurial.large { background: url("../images/icons/fc-webicon-mercurial.png"); }
.no-svg .fc-webicon.mercurial.small { background: url("../images/icons/fc-webicon-mercurial-s.png"); }
.svg .fc-webicon.mercurial { background: url("../images/icons/fc-webicon-mercurial.svg"); }

/* Rdio */
.no-svg .fc-webicon.rdio { background: url("../images/icons/fc-webicon-rdio-m.png"); }
.no-svg .fc-webicon.rdio.large { background: url("../images/icons/fc-webicon-rdio.png"); }
.no-svg .fc-webicon.rdio.small { background: url("../images/icons/fc-webicon-rdio-s.png"); }
.svg .fc-webicon.rdio { background: url("../images/icons/fc-webicon-rdio.svg"); }

/* Renren */
.no-svg .fc-webicon.renren { background: url("../images/icons/fc-webicon-renren-m.png"); }
.no-svg .fc-webicon.renren.large { background: url("../images/icons/fc-webicon-renren.png"); }
.no-svg .fc-webicon.renren.small { background: url("../images/icons/fc-webicon-renren-s.png"); }
.svg .fc-webicon.renren { background: url("../images/icons/fc-webicon-renren.svg"); }

/* RSS */
.no-svg .fc-webicon.rss { background: url("../images/icons/fc-webicon-rss-m.png"); }
.no-svg .fc-webicon.rss.large { background: url("../images/icons/fc-webicon-rss.png"); }
.no-svg .fc-webicon.rss.small { background: url("../images/icons/fc-webicon-rss-s.png"); }
.svg .fc-webicon.rss { background: url("../images/icons/fc-webicon-rss.svg"); }

/* Skitch */
.no-svg .fc-webicon.skitch { background: url("../images/icons/fc-webicon-skitch-m.png"); }
.no-svg .fc-webicon.skitch.large { background: url("../images/icons/fc-webicon-skitch.png"); }
.no-svg .fc-webicon.skitch.small { background: url("../images/icons/fc-webicon-skitch-s.png"); }
.svg .fc-webicon.skitch { background: url("../images/icons/fc-webicon-skitch.svg"); }

/* Skype */
.no-svg .fc-webicon.skype { background: url("../images/icons/fc-webicon-skype-m.png"); }
.no-svg .fc-webicon.skype.large { background: url("../images/icons/fc-webicon-skype.png"); }
.no-svg .fc-webicon.skype.small { background: url("../images/icons/fc-webicon-skype-s.png"); }
.svg .fc-webicon.skype { background: url("../images/icons/fc-webicon-skype.svg"); }

/* SoundCloud */
.no-svg .fc-webicon.soundcloud { background: url("../images/icons/fc-webicon-soundcloud-m.png"); }
.no-svg .fc-webicon.soundcloud.large { background: url("../images/icons/fc-webicon-soundcloud.png"); }
.no-svg .fc-webicon.soundcloud.small { background: url("../images/icons/fc-webicon-soundcloud-s.png"); }
.svg .fc-webicon.soundcloud { background: url("../images/icons/fc-webicon-soundcloud.svg"); }

/* Spotify */
.no-svg .fc-webicon.spotify { background: url("../images/icons/fc-webicon-spotify-m.png"); }
.no-svg .fc-webicon.spotify.large { background: url("../images/icons/fc-webicon-spotify.png"); }
.no-svg .fc-webicon.spotify.small { background: url("../images/icons/fc-webicon-spotify-s.png"); }
.svg .fc-webicon.spotify { background: url("../images/icons/fc-webicon-spotify.svg"); }

/* Stack Overflow */
.no-svg .fc-webicon.stackoverflow { background: url("../images/icons/fc-webicon-stackoverflow-m.png"); }
.no-svg .fc-webicon.stackoverflow.large { background: url("../images/icons/fc-webicon-stackoverflow.png"); }
.no-svg .fc-webicon.stackoverflow.small { background: url("../images/icons/fc-webicon-stackoverflow-s.png"); }
.svg .fc-webicon.stackoverflow { background: url("../images/icons/fc-webicon-stackoverflow.svg"); }

/* StumbleUpon! */
.no-svg .fc-webicon.stumbleupon { background: url("../images/icons/fc-webicon-stumbleupon-m.png"); }
.no-svg .fc-webicon.stumbleupon.large { background: url("../images/icons/fc-webicon-stumbleupon.png"); }
.no-svg .fc-webicon.stumbleupon.small { background: url("../images/icons/fc-webicon-stumbleupon-s.png"); }
.svg .fc-webicon.stumbleupon { background: url("../images/icons/fc-webicon-stumbleupon.svg"); }

/* SVN */
.no-svg .fc-webicon.svn { background: url("../images/icons/fc-webicon-svn-m.png"); }
.no-svg .fc-webicon.svn.large { background: url("../images/icons/fc-webicon-svn.png"); }
.no-svg .fc-webicon.svn.small { background: url("../images/icons/fc-webicon-svn-s.png"); }
.svg .fc-webicon.svn { background: url("../images/icons/fc-webicon-svn.svg"); }

/* Tent */
.no-svg .fc-webicon.tent { background: url("../images/icons/fc-webicon-tent-m.png"); }
.no-svg .fc-webicon.tent.large { background: url("../images/icons/fc-webicon-tent.png"); }
.no-svg .fc-webicon.tent.small { background: url("../images/icons/fc-webicon-tent-s.png"); }
.svg .fc-webicon.tent { background: url("../images/icons/fc-webicon-tent.svg"); }

/* Trip Advisor */
.no-svg .fc-webicon.tripadvisor { background: url("../images/icons/fc-webicon-tripadvisor-m.png"); }
.no-svg .fc-webicon.tripadvisor.large { background: url("../images/icons/fc-webicon-tripadvisor.png"); }
.no-svg .fc-webicon.tripadvisor.small { background: url("../images/icons/fc-webicon-tripadvisor-s.png"); }
.svg .fc-webicon.tripadvisor { background: url("../images/icons/fc-webicon-tripadvisor.svg"); }

/* Tumblr */
.no-svg .fc-webicon.tumblr { background: url("../images/icons/fc-webicon-tumblr-m.png"); }
.no-svg .fc-webicon.tumblr.large { background: url("../images/icons/fc-webicon-tumblr.png"); }
.no-svg .fc-webicon.tumblr.small { background: url("../images/icons/fc-webicon-tumblr-s.png"); }
.svg .fc-webicon.tumblr { background: url("../images/icons/fc-webicon-tumblr.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("../images/icons/fc-webicon-twitter-m.png"); }
.no-svg .fc-webicon.twitter.large { background: url("../images/icons/fc-webicon-twitter.png"); }
.no-svg .fc-webicon.twitter.small { background: url("../images/icons/fc-webicon-twitter-s.png"); }
.svg .fc-webicon.twitter { background: url("../images/icons/fc-webicon-twitter.svg"); }

/* Vimeo */
.no-svg .fc-webicon.vimeo { background: url("../images/icons/fc-webicon-vimeo-m.png"); }
.no-svg .fc-webicon.vimeo.large { background: url("../images/icons/fc-webicon-vimeo.png"); }
.no-svg .fc-webicon.vimeo.small { background: url("../images/icons/fc-webicon-vimeo-s.png"); }
.svg .fc-webicon.vimeo { background: url("../images/icons/fc-webicon-vimeo.svg"); }

/* Sina Weibo */
.no-svg .fc-webicon.weibo { background: url("../images/icons/fc-webicon-weibo-m.png"); }
.no-svg .fc-webicon.weibo.large { background: url("../images/icons/fc-webicon-weibo.png"); }
.no-svg .fc-webicon.weibo.small { background: url("../images/icons/fc-webicon-weibo-s.png"); }
.svg .fc-webicon.weibo { background: url("../images/icons/fc-webicon-weibo.svg"); }

/* Windows */
.no-svg .fc-webicon.windows { background: url("../images/icons/fc-webicon-windows-m.png"); }
.no-svg .fc-webicon.windows.large { background: url("../images/icons/fc-webicon-windows.png"); }
.no-svg .fc-webicon.windows.small { background: url("../images/icons/fc-webicon-windows-s.png"); }
.svg .fc-webicon.windows { background: url("../images/icons/fc-webicon-windows.svg"); }

/* Wordpress */
.no-svg .fc-webicon.wordpress { background: url("../images/icons/fc-webicon-wordpress-m.png"); }
.no-svg .fc-webicon.wordpress.large { background: url("../images/icons/fc-webicon-wordpress.png"); }
.no-svg .fc-webicon.wordpress.small { background: url("../images/icons/fc-webicon-wordpress-s.png"); }
.svg .fc-webicon.wordpress { background: url("../images/icons/fc-webicon-wordpress.svg"); }

/* Xing */
.no-svg .fc-webicon.xing { background: url("../images/icons/fc-webicon-xing-m.png"); }
.no-svg .fc-webicon.xing.large { background: url("../images/icons/fc-webicon-xing.png"); }
.no-svg .fc-webicon.xing.small { background: url("../images/icons/fc-webicon-xing-s.png"); }
.svg .fc-webicon.xing { background: url("../images/icons/fc-webicon-xing.svg"); }

/* Yelp! */
.no-svg .fc-webicon.yelp { background: url("../images/icons/fc-webicon-yelp-m.png"); }
.no-svg .fc-webicon.yelp.large { background: url("../images/icons/fc-webicon-yelp"); }
.no-svg .fc-webicon.yelp.small { background: url("../images/icons/fc-webicon-yelp-s.png"); }
.svg .fc-webicon.yelp { background: url("../images/icons/fc-webicon-yelp.svg"); }

/* YouTube */
.no-svg .fc-webicon.youtube { background: url("../images/icons/fc-webicon-youtube-m.png"); }
.no-svg .fc-webicon.youtube.large { background: url("../images/icons/fc-webicon-youtube.png"); }
.no-svg .fc-webicon.youtube.small { background: url("../images/icons/fc-webicon-youtube-s.png"); }
.svg .fc-webicon.youtube { background: url("../images/icons/fc-webicon-youtube.svg"); }

/* YouVersion */
.no-svg .fc-webicon.youversion { background: url("../images/icons/fc-webicon-youversion-m.png"); }
.no-svg .fc-webicon.youversion.large { background: url("../images/icons/fc-webicon-youversion.png"); }
.no-svg .fc-webicon.youversion.small { background: url("../images/icons/fc-webicon-youversion-s.png"); }
.svg .fc-webicon.youversion { background: url("../images/icons/fc-webicon-youversion.svg"); }

/* Zerply */
.no-svg .fc-webicon.zerply { background: url("../images/icons/fc-webicon-zerply-m.png"); }
.no-svg .fc-webicon.zerply.large { background: url("../images/icons/fc-webicon-zerply.png"); }
.no-svg .fc-webicon.zerply.small { background: url("../images/icons/fc-webicon-zerply-s.png"); }
.svg .fc-webicon.zerply { background: url("../images/icons/fc-webicon-zerply.svg"); }